@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 27%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 27%;
    --primary: 203 55% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 193 42% 57%;
    --secondary-foreground: 0 0% 27%;
    --muted: 197 47% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 197 47% 96%;
    --accent-foreground: 203 55% 32%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 30% 88%;
    --input: 197 30% 88%;
    --ring: 203 55% 32%;
    --radius: 0.625rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
